.hidden {
    display: none;
}

img {
    object-fit: cover;
}

.main section {
	margin: 0;
	height: 100vh;
}

.main section:nth-child(1) {
	background-color: #000000;
}

.main section:nth-child(2) {
	background-color: #111111;
}

.main section:nth-child(3) {
	background-color: #222222;
}

.main section:nth-child(4) {
	background-color: #333333;
}

.main section:nth-child(5) {
	background-color: #444444;
}

.main section:nth-child(6) {
	background-color: #555555;
}

.main section:nth-child(7) {
	background-color: #666666;
}

.main section:nth-child(8) {
	background-color: #777777;
}

.main section:nth-child(9) {
	background-color: #d4d4d4;
}

.main section p{
    font-size: 28px;
    font-family: Georgia, "Times New Roman", "Microsoft YaHei", 微软雅黑, STXihei, 华文细黑, serif;
	color: #fff;
	margin: 0;
	padding: 50px 0 20px;
	text-align: center;
}

#pagination {
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
	right: 30px;
	list-style: none;
}

#pagination li {
	position: relative;
	margin: 20px 0;
	background: #fff;
	border-radius: 100%;
	width: 8px;
	height: 8px;
	transition: all .2s ease;
}

#pagination li:hover {
	transform: scale(1.5);
}

#pagination a {
	position: absolute;
	text-decoration: none;
	left: 0;
	top: 0;
	color: inherit;
	width: 100%;
	height: 100%;
}

body {
	font-family: sans-serif;
	margin: 0;
}

body.page-1 #pagination li:nth-of-type(1), body.page-2 #pagination li:nth-of-type(2), body.page-3 #pagination li:nth-of-type(3), body.page-4 #pagination li:nth-of-type(4), body.page-5 #pagination li:nth-of-type(5), body.page-6 #pagination li:nth-of-type(6), body.page-7 #pagination li:nth-of-type(7), body.page-8 #pagination li:nth-of-type(8), body.page-9 #pagination li:nth-of-type(9) {
	transform: scale(2);
}

#page1 {
    padding-top: 10%;
    text-align: center; 
}

#page2 {
    padding-top: 25%;
    font-size: 50px !important;
}

#page2 p {
    font-size: 40px !important;
}

#page3 {
    display: flex;
    justify-content: space-around;
    padding-top: 5%;
}

#page3 img {
    width: 700px;
    height: 80%;
}

#page3 p {
    margin-top: 100px;
    margin-right: 50px;
    width: 26%;
    line-height: 2;
}

#page9 {
    padding-top: 20%;
}

#page9 p {
    font-size: 60px !important;
    color: black;
}