  body {
    background: #918169;
  }
  
  .wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  
  .mail{
    width: 300px;
    height: 200px;
    background: #fdfff6;
    position: relative;
    transform-style: preserve-3d;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
  }
  
  .mail:before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-left: 140px solid Transparent;
    border-right: 150px solid #e0dec4;
    border-top: 100px solid Transparent;
    border-bottom: 100px solid #e0dec4;
    z-index: 5;
    border-bottom-right-radius: 10px;
  }
  
  .mail:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-left: 150px solid #fff9dd;
    border-right: 140px solid Transparent;
    border-top: 100px solid Transparent;
    border-bottom: 100px solid #fff9dd;
    z-index: 4;
    border-bottom-left-radius: 10px;
  }
  
  .cover:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-top: 100px solid #e0e2d7;
    border-bottom: 100px solid transparent;
    z-index: 6;
    transform-origin: top;
    transform: rotateX(0deg);
    transition: all 1s 1s ease;
  }
  
  .letter{
    position: absolute;
    z-index: 3;
    top: 0px;
    left: 10px;
    background: #dedede;
    width: 280px;
    height: 180px;
    border-radius: 20px;
    transition: all 1s ease;
  }
  
  .letter h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 80px;
    color: #e0eef7;
    font-weight: 900;
  }
  
  .mail:hover .cover:before{
    transform: rotateX(180deg);
    transition: all 1s ease;
  }